version: '3.4'
services:
    puppeteer:
        image: morawskim/node12-google-chrome:81.0
        tty: true
        env_file:
            - .env
        volumes:
            - ./:/home/node/app
    rocketchat:
        image: rocketchat/rocket.chat:0.70.2
        volumes:
            - uploads:/app/uploads
        environment:
            - PORT=3000
            - ROOT_URL=${ROCKETCHAT_URL:-http://localhost:3000}
            - MONGO_URL=mongodb://mongo:27017/rocketchat
            - MONGO_OPLOG_URL=mongodb://mongo:27017/local
            - MAIL_URL=smtp://smtp.email
            - ADMIN_USERNAME=admin
            - ADMIN_PASS=admin
            - ADMIN_EMAIL=admin@example.com
        depends_on:
            - mongo
        labels:
            traefik.backend: "rocketchat"
            traefik.frontend.rule: "Host:rocketchat.lvh.me"
            traefik.port: "3000"
    mongo:
        image: mongo:3.2
        volumes:
            - db:/data/db
        command: mongod --smallfiles --oplogSize 128 --replSet rs0 --storageEngine=mmapv1
        labels:
            traefik.enable: "false"
    traefik:
        image: traefik:1.7
        command: --web --docker --logLevel=DEBUG
        ports:
          - "80:80"
          - "8080:8080"
          - "4443:443"
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock
          - /dev/null:/etc/traefik/traefik.toml
    wait:
        image: dokku/wait

volumes:
  uploads:
  db:
